form{
    display: flex;
    gap: 50px;
    min-height: 30px;
    width: 400px;
    min-width: 300px;
    justify-content: flex-start;

    > button{
        width: 120px;
    }
    > input{
        flex: 1;
        padding:15px ;
    }
}